.container-menu{
    margin: 0 auto;
    padding: 0;
    background-color: #C4C4C4;
}

nav{
    margin-right: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav div{
    margin: 0;
    padding: 0;
}

/* textos 

#fixos: 
1px = 0.75pt
16px = 12pt

#fluidos:
em = multiplicado pelo pai
rem = multiplicado pelo root


*/

nav div span{
    margin: 40px;
    padding: 0;

    font-family: Roboto sans-serif lighter;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
}
.container-menu nav div ul {
    margin: 0px;
    display: flex;
    font-family: Roboto Light;
    font-weight: 300;
    font-style: normal;
    color: #272727;
    float: right;
    list-style: none;
    text-decoration: none;
}



.container-menu nav div ul li{
    font-size: 1.5rem;
    margin: 0 15px;
    padding: 3px 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    justify-content: right;
} 

.a{
    text-decoration: none;
    list-style: none;
    color: #272727;
}

.container-menu nav div ul li:hover{
    border-bottom: solid #54A2EA;
}

.container-menu nav div ul li:active{
    border-bottom: 2px solid #54A2EA;
}

#btn-toogle{
    display: none;
}


/* media queries */
@media only screen and (max-width: 768px){

    .container-menu div{
        justify-content:space-between;
        
    }
    .container-menu nav {
        display: block;
        background-color: #C4C4C4;
        text-align: center;
    }

    .container-menu nav div ul{
        width: 100%;
        height: 90vh;
        display: none;
        text-align: center;
        margin-bottom: 80px;
    }

    .container-menu nav div ul li{
        margin-top: 60px;
        line-height: 30px;
        font-weight: 500;
    }

    .container-menu nav div ul li:hover{
        background-color: #54A2EA;
    }

    #btn-toogle{
        margin: 5px;
        display: block;
        float: right;
        border-radius: 8px;
        border: 2px solid #C4C4C4;
        background-color: #FFF;

    }

    
}





